* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --white: #ffffff;
  --white-100 : #F4EBE8;

  --gray : #ADB5BD;

  --blue-0: #E3F2FD;
  --blue-100 : #BBDEFB;
  --blue-200 : #90CAF9;
  --blue-300 : #64B5F6;
  --blue-400 : #42A5F5;
  --blue-500 : #2196F3;
  --blue-600 : #1E88E5;
  --blue-700 : #1976D2;
  --blue-800 : #1565C0;
  --blue-900 : #0D47A1;
}

html,
body {
  max-width: 100vw;
}

body {
  background: var(--blue-400);
  font-size: xx-large;
  position: relative;
  margin: 0;
  padding: 0;
}